<%- include('./partials/header.ejs'); %>
    <form action='/processForm' method='post'>
        Search for a user: <input name='name' type='text' placeholder='Name'>
        <button>Submit</button>
    </form>
    
<%- include('./partials/footer.ejs'); %>